body.blog .blog-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

body.blog .blog-title {
  font-size: 60px;
}

body.blog p.indent {
  text-indent: 10px;
  line-height: 25px;
}

body.blog p.indent::first-letter {
  font-size: 1.4em;
  padding: 2px 4px;
  margin-right: 2px;
  background-color: #83c244;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
}

body.blog .blog-main {
  margin-bottom: 50px;
}

body.blog .blog-post p {
  overflow: scroll;
}
