.bubble {
  background-color: #8fd6ff;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-bottom: 20px;
  padding: 10px 20px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  width: auto;
  max-width: 200px;
  word-wrap: break-word;
  font: 1.0125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000;
}

.bubble:before, .bubble:after {
  border-radius: 20px / 10px;
  content: '';
  display: block;
  position: absolute;
}

.bubble:before {
  border: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: -7px;
  z-index: -2;
}

.bubble:after {
  border: 8px solid transparent;
  border-bottom-color: #8fd6ff;
  bottom: 1px;
  left: -5px;
}

.bubble--alt {
  background-color: #85c548;
  float: right;
}

.bubble--alt:before {
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px / 10px;
  left: auto;
  right: -7px;
}

.bubble--alt:after {
  border-bottom-color: #85c548;
  border-radius: 20px / 10px;
  left: auto;
  right: -5px;
}
